
body {
   background: rgb(255, 255, 255);
   font-size: 18px;
   color:#343434;;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container {
   max-width: 1280px;
   margin: auto;
   padding-top: 15px;
}

/* Навигация */
/* ------------------------------- */

.notice-navigation {
   display: flex;
   justify-content: space-between;
}



.notice-btn {
    height: 42px;
	border: 2px solid #7272ea;
    border-radius: 20px;
	background: #7272ea;
    padding:5px 30px;
	color: #f2f2f2;
	font-size: inherit;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
    text-decoration: none;
}

.notice-btn:hover {
    background: rgba(235,235,235,1);
	color: #7272ea;
	box-shadow: inset 0 0 0 0px #7272ea;
}

.notice-btn a{
   text-decoration: none;
   color: #dfcfe3;
}

.notice-btn a:hover{
   text-decoration: none;
   color: #7272ea;
}

/* Форма заметки */
/* ------------------------------- */

.notice h3 {
   text-align: center;
   margin: 30px 0px;
   color: #343434;
}


.notice-form label {
   display:block;
   color: #3d3d3ddc;
   margin: 15px 0px;
}

.notice_cont {
   display: flex;
   margin-bottom: 25px;
}

/* .notice_cont>.notice-form {
   width: 50%;

} */

.notice_cont>.notice-form:first-child {
   margin-right: 20px;
}

.notice-form input,
.notice-form textarea {
   background: transparent;
   width: 100%;
   box-sizing: border-box;
   font-size: inherit;
   font-family: inherit;

   border: 1px solid rgb(172, 171, 171);
   border-radius: 5px;

   color: #000000;
   padding: 15px 10px 10px;
   outline: none;

}

.notice-form_btn {
   background: #7272ea;
   color: #ffffff;
   font-family: inherit;
   font-size: inherit;
   cursor: pointer;

   padding: 12px 30px;
   margin-top: 15px;
   border: none;
   border-radius: 10px;
}

.notice-form_btn:hover {
   background: rgba(235,235,235,1);
   color: #7272ea;
   box-shadow: inset 0 0 0 2px #7272ea;
}

/* Форма Full Notice */
/* ------------------------------- */

.notice_title_text {
  text-align: center;
}

.notice_main_text {
  text-align:center;
}